# Ignore the travelq.csv dataset
travelq.csv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary and log files
*.log
*.tmp

# Ignore all CSV files in the data folder, but keep important_data.csv
data/*.csv
!important_data.csv

# Ignore virtual environments
venv/
.env

# Ignore system files
.DS_Store
Thumbs.db
